$background: #ffffff !default;
$background-i: #000000 !default;

$gray-100: #f1f1f1 !default;
$gray-200: #cccccc !default;

$primary: #f44336 !default;

$text-primary: #000000 !default;
$text-primary-i: #ffffff !default;
