@use "breakpoints";
@use "colors";
@use "fonts";

:root {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

html,
body {
  background: colors.$background;
  color: colors.$text-primary;
  font-family: fonts.$primary;
  font-size: 1.6rem;
  line-height: 1.5;
  scroll-behavior: smooth;
}

#app {
  display: flex;
  margin: 0 auto;
  max-width: breakpoints.breakpoint("xl");
  min-height: 100vh;
}

.container {
  @include breakpoints.container;
}

.dark {
  background: colors.$background-i;
  color: colors.$text-primary-i;
}

.light {
  background: colors.$gray-100;
  color: colors.$text-primary;
}

.overflow-hidden {
  overflow: hidden;
}
